$body--font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$body--font-light: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$body--font-bold: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$body--color: #0a0a0a;
$body--font-size: 14pt;
$body--font-weight: normal;
$body--background: #f3f3f3;

$radius: 0.15rem;

$border--width: 1px;
$border--color: $body--color;
$input--border: $border--width solid $border--color;
