@import "./_variables";
@import "./_spacing";
@import "./_display";
@import "./_typography";

body {
    @include font-style();
}

// Input Textarea
input, 
textarea, 
select{
    border: $input--border;
    border-radius: $radius;
    @include font-style();
    @include input-padding(0.5);
    &:not([type="radio"]){
        width: 100%;
    }
}
label{
    margin-bottom: 0.25rem;
    display: block;
}
label[for]{
    margin-right: 0.5rem;
}
//DEMO PURPOSES: with custom STORD highlight divder
.has-highlight-divider{
    text-align: left;
    margin-bottom: 2rem;
    h1{
        margin-bottom: 0;
    }
}
.stord-highlight-divider {
    width: 110px;
    height: 6px;
    background-color: #1463ff
}